In [485]:
import pandas as pd 
from IPython.display import HTML

In [486]:
# Data Import and first Inspection

In [487]:
Data=pd.read_csv('movies_complete.csv')

__Some additional information on Features/Columns__:

* **id:** The ID of the movie (clear/unique identifier).
* **title:** The Official Title of the movie.
* **tagline:** The tagline of the movie.
* **release_date:** Theatrical Release Date of the movie.
* **genres:** Genres associated with the movie.
* **belongs_to_collection:** Gives information on the movie series/franchise the particular film belongs to.
* **original_language:** The language in which the movie was originally shot in.
* **budget_musd:** The budget of the movie in million dollars.
* **revenue_musd:** The total revenue of the movie in million dollars.
* **production_companies:** Production companies involved with the making of the movie.
* **production_countries:** Countries where the movie was shot/produced in.
* **vote_count:** The number of votes by users, as counted by TMDB.
* **vote_average:** The average rating of the movie.
* **popularity:** The Popularity Score assigned by TMDB.
* **runtime:** The runtime of the movie in minutes.
* **overview:** A brief blurb of the movie.
* **spoken_languages:** Spoken languages in the film.
* **poster_path:** The URL of the poster image.
* **cast:** (Main) Actors appearing in the movie.
* **cast_size:** number of Actors appearing in the movie.
* **director:** Director of the movie.
* **crew_size:** Size of the film crew (incl. director, excl. actors).

In [488]:
Data.head(3)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,...,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,...,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,...,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch

In [489]:
#Data=Data.set_index('title')

In [490]:
Data.isnull().sum()

id                           0
title                        0
tagline                  24407
release_date                34
genres                    2105
belongs_to_collection    40228
original_language           10
budget_musd              35837
revenue_musd             37306
production_companies     11335
production_countries      5856
vote_count                   0
vote_average              2614
popularity                   0
runtime                   1512
overview                   951
spoken_languages          3597
poster_path                224
cast                      2189
cast_size                    0
crew_size                    0
director                   731
dtype: int64

In [491]:
Data.shape

(44691, 22)

In [492]:
Data['profit']=Data['revenue_musd']-Data['budget_musd']
Data['ROI']=(Data['revenue_musd']/Data['budget_musd'])*100

In [493]:
#_function

def filter_data(Basis,Number_Of_Record,ascending,min_bud=0,minRating=0):
    B=Basis
    N=Number_Of_Record
    A=ascending
    subData=Data[(Data['budget_musd']>=min_bud)&(Data['vote_average']>=minRating)]
    Record=subData.sort_values(by=B,ascending=A)[0:N][['title','poster_path',B]].set_index('title')
    return HTML(Record.to_html(escape=False))

In [494]:
#__Movies Top 5 - Highest Revenue__
Top_5_movie_highest_Revenue=filter_data('revenue_musd',5,False)
Top_5_movie_highest_Revenue

In [495]:
#__Movies Top 5 - Highest Budget__
Top_5_movie_highest_Budget=filter_data('budget_musd',5,False)
Top_5_movie_highest_Budget

In [496]:
#__Movies Top 5 - Highest Profit__
Top_5_movie_highest_Profit=filter_data('profit',5,False)
Top_5_movie_highest_Profit

In [497]:
#__Movies Top 5 - Lowest Profit__
Top_5_movie_Lowest_Profit=filter_data('profit',5,True)
Top_5_movie_Lowest_Profit

In [498]:
#__Movies Top 5 - Highest ROI__
#Highest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10)
Top_5_movie_Highest_ROI=filter_data('ROI',5,False,10)
Top_5_movie_Highest_ROI

In [499]:
#Lowest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10)
#__Movies Top 5 - Lowest ROI__
Top_5_movie_Lowest_ROI=filter_data('ROI',5,True,10)
Top_5_movie_Lowest_ROI

In [500]:
#__Movies Top 5 - Most Votes__
#Lowest Rating (only movies with 10 or more Ratings)
Top_5_movie_Most_Votes=filter_data('vote_count',5,False)
Top_5_movie_Most_Votes

In [501]:
#__Movies Top 5 - Highest Rating__
#Highest Rating (only movies with 10 or more Ratings)
Top_5_movie_Highest_Rating=filter_data('vote_average',5,False,minRating=0)
Top_5_movie_Highest_Rating

In [502]:
#Lowest Rating (only movies with 10 or more Ratings)
Top_5_movie_Lowest_Rating=filter_data('vote_average',5,True,minRating=0)
Top_5_movie_Lowest_Rating

In [503]:
#__Movies Top 5 - Most Popular__
Top_5_movie_Most_Popular=filter_data('popularity',5,False)
Top_5_movie_Most_Popular

# Find your next Movie

In [504]:
#__Search 1: Science Fiction Action Movie with Bruce Willis (sorted from high to low Rating)__

In [505]:
Gn=Data[Data['genres'].str.contains("Action") & Data['genres'].str.contains("Science Fiction")]
Ac=Data['cast'].str.contains('Bruce Willis')
sub=Data.loc[(Ac & str(Gn)), ["title", "vote_average",'poster_path']].sort_values(by = "vote_average",ascending = False).head(5)
HTML(sub.to_html(escape=False))

In [506]:
#__Search 2: Movies with Uma Thurman and directed by Quentin Tarantino (low runtime)__

In [507]:
sub=Data[(Data['cast'].str.contains('Uma Thurman')) & (Data['director']=='Quentin Tarantino')].sort_values(by='runtime',ascending=True)
sub=sub[['title','release_date','runtime','poster_path']]
HTML(sub.to_html(escape=False))

In [508]:
#__Search 3: Most Successful Pixar Studio Movies between 2010 and 2015 (high Revenue)__

In [509]:
sub=Data[Data['production_companies']==('Pixar Animation Studios')].sort_values(by='revenue_musd',ascending=False)

In [510]:
sub=sub[sub['release_date'].between("2010-01-01", "2015-12-31")][['title','production_companies','poster_path']].head(5)
HTML(sub.to_html(escape=False))

In [511]:
#__Search 4: Action or 
#Thriller Movie with original language English and minimum Rating of 7.5 (most recent)__

In [512]:
sub=Data[Data['genres'].str.contains('Action') & Data['genres'].str.contains('Thriller')]
sub=sub[(sub['spoken_languages']==('English'))& (sub['vote_average']>=7.5)][['title','genres','poster_path','vote_average','release_date']].set_index('title').sort_values('release_date',ascending=False).head(5)
HTML(sub.to_html(escape=False))

Data.head(2)

In [513]:
#4. __Analyze__ the Dataset and __find out whether Franchises 
#(Movies that belong to a # collection)are more successful 
#than stand-alone movies__ in terms of:

- mean revenue
- median Return on Investment
- mean budget raised
- mean popularity
- mean rating

In [514]:
Data['Franchise']=Data['belongs_to_collection'].notna()

In [515]:
#__Franchise vs. Stand-alone: Average Revenue__

In [516]:
Data.groupby(Data['Franchise'])['revenue_musd'].mean().sort_values(ascending=False).head(5)

Franchise
True     165.708193
False     44.742814
Name: revenue_musd, dtype: float64

In [517]:
#__Franchise vs. Stand-alone: Return on Investment / Profitability__

In [518]:
Data.groupby(Data['Franchise'])['ROI'].median().sort_values(ascending=False).head(5)

Franchise
True     370.919508
False    161.969933
Name: ROI, dtype: float64

In [519]:
#__Franchise vs. Stand-alone: Average Budget__
Data.groupby(Data['Franchise'])['budget_musd'].mean().sort_values(ascending=False).head(5)

Franchise
True     38.319847
False    18.047741
Name: budget_musd, dtype: float64

In [520]:
#__Franchise vs. Stand-alone: Average Popularity__
Data.groupby(Data['Franchise'])['popularity'].mean().sort_values(ascending=False).head(5)

Franchise
True     6.245051
False    2.592726
Name: popularity, dtype: float64

In [521]:
#__Franchise vs. Stand-alone: Average Rating__
Data.groupby(Data['Franchise'])['vote_average'].mean().sort_values(ascending=False).head(5)

Franchise
False    6.008787
True     5.956806
Name: vote_average, dtype: float64

# Most Successful Franchises

5. __Find__ the __most successful Franchises__ in terms of
- __total number of movies__
- __total & mean budget__
- __total & mean revenue__
- __mean rating__

In [522]:
Fr=Data.groupby(Data['belongs_to_collection']).agg({'title':"count",'budget_musd':['sum','mean'],'revenue_musd':['sum','mean'],'vote_average':'mean'})

In [523]:
#total number of movies
Fr.sort_values(by=('title', 'count'),ascending=False).head(1)

                      title budget_musd      revenue_musd      vote_average
                      count         sum mean          sum mean         mean
belongs_to_collection
The Bowery Boys          29         0.0  NaN          0.0  NaN        6.675

In [524]:
#total & mean budget
Fr.sort_values(by=( 'budget_musd',  'mean'),ascending=False).head(1)

                      title budget_musd        revenue_musd              \
                      count         sum   mean          sum        mean
belongs_to_collection
Tangled Collection        2       260.0  260.0   591.794936  591.794936

                      vote_average
                              mean
belongs_to_collection
Tangled Collection            7.25

In [525]:
#mean rating
Fr.sort_values(by=('vote_average',  'mean'),ascending=False).head(1)

                      title budget_musd      revenue_musd      vote_average
                      count         sum mean          sum mean         mean
belongs_to_collection
Argo Collection           1         0.0  NaN          0.0  NaN          9.3

# Most Successful Directors

6. __Find__ the __most successful Directors__ in terms of
- __total number of movies__
- __total revenue__
- __mean rating__

In [526]:
Dire=Data.groupby(Data['director']).agg({'title':'count','revenue_musd':'sum','vote_average':'mean'})

In [527]:
#- __total number of movies__
Dire.sort_values(by='title',ascending=False).head(1)

           title  revenue_musd  vote_average
director
John Ford     66     85.170757      6.381818

In [528]:
#- __total revenue__
Dire.sort_values(by='revenue_musd',ascending=False).head(1)

                  title  revenue_musd  vote_average
director
Steven Spielberg     33   9256.621422      6.893939

In [529]:
#- __mean rating__
Dire.sort_values(by='vote_average',ascending=False).head(1)

                      title  revenue_musd  vote_average
director
Antonis Sotiropoulos      1           0.0          10.0

# END